.expertise-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px; /* Adds space between the title and content below */
  }
  
  
  /* Existing styles for layout */
  #expertise {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    padding: 10px;
    gap: 30px;
  }
  
  .rectangles-container {
    display: flex;
    justify-content: center; /* Centers the rectangles horizontally */
    gap: 10px; /* Adds space between rectangles; adjust as needed */
  }
  
  .rectangle {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    border: 3px solid rgb(137, 137, 255);
    background-color: rgb(235, 235, 235);
    transition: background-color 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }